<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
</head>
<body>

    <th:block layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-9">
                    <table class="table">
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Author's Name</th>
                            <th>Actions</th>
                            <th>Avaiable</th>
                        </tr>

                        <tr th:each="book: ${listAllBooks}">
                            <td th:text="${book.id}"></td>
                            <td th:text="${book.name}"></td>
                            <td th:text="${book.category}"></td>
                            <td th:text="${book.author.name}"></td>
                            <td>
                                <a th:href="@{'/books/' + ${book.id}}">Details</a> <a th:href="@{'/books/deleteBook/' + ${book.id}}">Delete</a>
                            </td>
                            <td th:text="${book.available}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
    </th:block>

</body>
</html>
