<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
>
<head>
</head>
<body>
<th:block layout:fragment="content">

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Password</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Role</th>
        </tr>

        <tr th:each="user: ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.password}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.roles.role}"></td>
        </tr>
    </table>

    <table class="table">
        <tr>
            <th>1</th>
            <th>2</th>
        </tr>
        <tr th:each="role: ${roles}" >
            <td th:text="${role.id}"></td>
            <td th:text="${role.role}"></td>
        </tr>
    </table>


</th:block>

</body>
</html>
