<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
>
<head>
</head>
<body>

    <th:block layout:fragment="content">

        <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-6">
                    <form class="text-center border border-light p-5" th:action="@{/authors/saveAuthor}" method="post" th:object="${newAuthor}">
                        <p class="h4 mb-4">Create a new author</p>
                        <input type="text" class="form-control mb-4" placeholder="Name" th:field="*{name}">
                        <input type="text" class="form-control mb-4" placeholder="Genre" th:field="*{genre}">
                        <button class="btn btn-info btn-block" type="submit">Create</button>
                    </form>
                </div>
                <div class="col">
                </div>
            </div>
        </div>

    </th:block>

</body>
</html>
